<h1>This is a list of movies</h1>

<ol>
    <% @movies.each do |movie| %>
        <li>
            <strong><%= movie.title %></strong>
            <div>Rating: <%= movie.rating %> </div>
            <div>Total Grossing: <strong><%= number_to_currency(movie.total_gross) %></strong> </div>
        </li>
    <% end %>
</ol>